---
wifi_ssid: "Example Wi-Fi"
wifi_password: "0123456789"
wifi_ap_ssid: "ESPHome IAQ Fallback Hotspot"
wifi_ap_password: "0123456789"
api_encryption_key: "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopq="
ota_password: "0123456789"
